nav{
  background-image: linear-gradient(rgb(224, 248, 255), rgb(255, 255, 255));
}
ul{
  width: 50%;
  margin: auto 0!important;
  padding: 1em;
  display: flex;
  justify-content: space-around!important;
}
li{
  background-image: linear-gradient(rgb(255, 255, 255), rgb(224, 248, 255));
  list-style: none;
  padding: 5px;
  border: solid 1px black;
}
a{
  color: black!important;
  text-decoration: none!important;
}
a:hover{
  color: rgb(180, 179, 110)!important;
}
a::after{
  color: #000;
}
